*.exe
*.txt
*.exe_
*.exe_.debug
*.exe_.list
*.exe_.symbol
*.exe_.~asm
*.com_
*.com_.debug
*.com_.list
*.com_.symbol
*.com_.~asm
*/
*.com
DA.asm
Programa.asm
comFormatas.asm
e.asm
helpmsg.asm
nr1.asm
nr2.asm
pvz1.asm
pvz2.asm
teo.asm